.App {
  font-family: sans-serif;
  text-align: center;
  padding: 2px;
}
.divdisp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gridisp {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.imagesize {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  height: 10rem;
  padding: 0;
  margin: 0;
}
.card {
  background-color: #6059593d;
  width: 25%;
  padding: 20px;
  text-align: center;
}
.card p,
h2,
img {
  padding: 0;
  margin: 0;
}
button {
  background-color: #7925d3;
  background-image: linear-gradient(
    to right,
    rgba(204, 0, 255, 0.782),
    rgb(9, 163, 177)
  );
  color: #ebe7ef;
  border: 1px solid #7925d3;
  margin: 0 5px;
  border-radius: 5px;
  padding: 5px;
}
@media only screen and (max-width: 450px) {
  .gridisp {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 100%;
  }
}

@media screen and (min-width: 451px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {
  .gridisp {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 70%;
  }
}
